@use "./components/nav";
@use "./components/marketplace";

@import url('https://fonts.googleapis.com/css2?family=Kotta+One&display=swap');

*{
	margin: 0;
	padding: 0;
	font-family: 'Kotta One', serif;
}

.card {
	height: 300px;
	width: 400px;
	border-radius: 5px;
}
.card:nth-child(odd) {
	background-color: blue;
}
.card:nth-child(even) {
	background-color: rgb(0, 183, 255);
}
.slider-container {

	width: 200px;
	height: 100px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;

	background-color: blue;
}
.inner-slider {

	width: fit-content;
	display: flex;
	gap: 10px;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;

	div{

		width: 100px;
	}
}