@import url("https://fonts.googleapis.com/css2?family=Kotta+One&display=swap");
.all-categories {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -180px;
  width: 180px;
  transition: 0.1s;
  padding: 100px 0;
  background-color: #d9d9d9;
}
.all-categories a {
  margin: 5px 40px;
  color: black;
  text-decoration: none;
}
.all-categories a:first-of-type {
  position: absolute;
  right: 0;
  top: 0;
  margin: 30px 20px;
}

.cats-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  width: 100%;
  transition: 0.1s;
  background-color: rgba(0, 0, 0, 0.6666666667);
}

.nav {
  /*
  	Setup baseline grid for most desktops and laptops
  */
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  grid-template-rows: 61px 36px;
  grid-template-areas: "title search account" "nav nav nav";
  /*
  	Main changes to grid at the large breakpoint
  */
  background-color: black;
  color: white;
  /*
  	Title and Logo area
  */
  /*
  	end Title and Logo area
  */
  /*
  	Search form in the navbar area
  */
  /*
  	end Search form in the navbar area
  */
  /*
  	Account navigation, account, orders, cart
  */
  /*
  	end Account navigation
  */
  /*
  	Site navigation, categories and general (blog, about, contact)
  */
  /*
  	end Site navigation
  */
}
@media (max-width: 1200px) {
  .nav {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 50px 40px;
    grid-template-areas: "topl topr" "search search" "cats cats";
    padding: 5px 10px 0 10px;
  }
}
.nav .title {
  grid-area: title;
  display: flex;
  align-items: center;
  padding-left: 10px;
  letter-spacing: 1px;
}
.nav .title #cat_mobi_all {
  display: none;
  margin-right: 20px;
  margin-left: 5px;
}
@media (max-width: 1200px) {
  .nav .title {
    grid-area: topl;
    padding: 0;
  }
  .nav .title #main_title {
    font-size: 1.2em;
  }
  .nav .title #cat_mobi_all {
    display: block;
  }
}
.nav .title a {
  color: white;
  text-decoration: none;
}
.nav .nav_search {
  grid-area: search;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .nav_search form {
  display: flex;
  align-items: center;
  width: 95%;
  height: 70%;
  background-color: white;
  color: black;
  border-radius: 0.5rem;
  /*
  	This is where we make the search components
  */
}
@media (max-width: 1200px) {
  .nav .nav_search form {
    width: 100%;
  }
}
.nav .nav_search form .search_dropdown {
  overflow: hidden;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 5px;
  border-right: 2px solid black;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
@media (max-width: 600px) {
  .nav .nav_search form .search_dropdown {
    display: none;
  }
}
.nav .nav_search form input {
  width: 100%;
  margin-left: 10px;
  font-size: x-large;
  background-color: white;
  border: none;
  outline: none;
}
.nav .nav_search form .search_go {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  height: 100%;
  border: none;
  cursor: pointer;
  width: 55px;
  border-radius: 0.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.nav .account_nav {
  grid-area: account;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 20px;
}
.nav .account_nav > a {
  display: flex;
  color: white;
  text-decoration: none;
  white-space: nowrap;
}
.nav .account_nav #orders_icon {
  display: none;
}
.nav .account_nav #signin_icon {
  display: none;
}
@media (max-width: 1200px) {
  .nav .account_nav {
    grid-area: topr;
  }
  .nav .account_nav #signin_words, .nav .account_nav #orders_words, .nav .account_nav #cart_word {
    display: none;
  }
  .nav .account_nav #orders_icon, .nav .account_nav #signin_icon {
    display: block;
  }
}
.nav .nav_links {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  background-color: #d9d9d9;
  color: black;
}
@media (max-width: 1200px) {
  .nav .nav_links {
    grid-area: cats;
  }
}
.nav .nav_links .categories, .nav .nav_links .site_nav {
  display: flex;
  align-items: center;
  flex: 1 0 40vw;
}
.nav .nav_links .categories a, .nav .nav_links .site_nav a {
  white-space: nowrap;
  margin-right: 20px;
  color: black;
  text-decoration: none;
}
.nav .nav_links .categories a:first-of-type, .nav .nav_links .site_nav a:first-of-type {
  margin-left: 20px;
}
@media (max-width: 1200px) {
  .nav .nav_links .categories, .nav .nav_links .site_nav {
    background-color: black;
    color: white;
  }
  .nav .nav_links .categories a, .nav .nav_links .site_nav a {
    color: white;
  }
}
.nav .nav_links .categories {
  overflow-x: scroll;
  scrollbar-width: none;
}
.nav .nav_links .categories::-webkit-scrollbar {
  display: none;
}
@media (max-width: 1200px) {
  .nav .nav_links .categories #cat_bar_all {
    display: none;
  }
}
@media (max-width: 600px) {
  .nav .nav_links .site_nav {
    justify-content: flex-end;
    flex: 1 1;
  }
  .nav .nav_links .site_nav a {
    margin-right: 10px;
  }
}
@media (max-width: 600px) and (max-width: 600px) {
  .nav .nav_links .site_nav {
    display: none;
  }
}
.nav .nav_links .line {
  background-color: black;
  width: 8px;
}
@media (max-width: 1200px) {
  .nav .nav_links .line {
    background-color: white;
  }
}
@media (max-width: 600px) {
  .nav .nav_links .line {
    display: none;
  }
}

.marketplace_hero {
  height: 600px;
  background: linear-gradient(180deg, #000000 33.85%, rgba(0, 0, 0, 0) 91.15%);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Kotta One", serif;
}

/*# sourceMappingURL=style.css.map */
