@import url("https://fonts.googleapis.com/css2?family=Kotta+One&display=swap");
.nav {
  /*
  	Setup baseline grid for most desktops and laptops
  */
  display: grid;
  grid-template-columns: 1fr 4fr 2fr;
  grid-template-rows: 61px 36px;
  grid-template-areas: "title search account" "nav nav nav";
  /*
  	First changes to grid at the large breakpoint
  */
  background-color: black;
  color: white;
  /*
  	Title and Logo area
  */
  /*
  	Search form in the navbar area
  */
}
@media (max-width: 1200px) {
  .nav {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px 50px 40px;
    grid-template-areas: "topl topr" "search search" "cats cats";
    padding: 10px;
  }
}
.nav .title {
  grid-area: title;
  display: flex;
  align-items: center;
  padding-left: 10px;
  letter-spacing: 1px;
}
@media (max-width: 1200px) {
  .nav .title {
    grid-area: topl;
    padding: 0;
  }
}
.nav .title a {
  color: white;
  text-decoration: none;
}
.nav .nav_search {
  grid-area: search;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .nav_search form {
  display: flex;
  align-items: center;
  width: 95%;
  height: 70%;
  background-color: white;
  color: black;
  border-radius: 0.5rem;
  /*
  	This is where we make the search components
  */
}
@media (max-width: 1200px) {
  .nav .nav_search form {
    width: 100%;
  }
}
.nav .nav_search form .search_dropdown {
  overflow: hidden;
  height: 100%;
  border: none;
  outline: none;
  padding-left: 5px;
  border-right: 2px solid black;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.nav .nav_search form input {
  width: 100%;
  margin-left: 10px;
  font-size: x-large;
  background-color: white;
  border: none;
  outline: none;
}
.nav .nav_search form .search_go {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d9d9d9;
  height: 100%;
  border: none;
  cursor: pointer;
  width: 55px;
  border-radius: 0.5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.nav .account_nav {
  grid-area: account;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-right: 20px;
}
@media (max-width: 1200px) {
  .nav .account_nav {
    grid-area: topr;
  }
}
.nav .account_nav > a {
  display: flex;
  color: white;
  text-decoration: none;
}
.nav .account_nav > * {
  margin: 10px;
}
.nav .nav_links {
  grid-area: nav;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #d9d9d9;
  color: black;
}
@media (max-width: 1200px) {
  .nav .nav_links {
    grid-area: cats;
  }
}
.nav .nav_links .categories {
  overflow: hidden;
  position: relative;
}
.nav .nav_links .categories .menu-slider {
  display: flex;
  align-items: center;
  pointer-events: none;
  position: absolute;
  left: 0;
}
.nav .nav_links .categories a:first-of-type {
  margin-right: 30px;
}
.nav .nav_links .categories, .nav .nav_links .site_nav {
  display: flex;
  align-items: center;
  flex: 1 0 40vw;
}
.nav .nav_links .categories a, .nav .nav_links .site_nav a {
  white-space: nowrap;
  margin-right: 20px;
  color: black;
  text-decoration: none;
}
@media (max-width: 1200px) {
  .nav .nav_links .categories, .nav .nav_links .site_nav {
    background-color: black;
    color: white;
  }
  .nav .nav_links .categories a, .nav .nav_links .site_nav a {
    color: white;
  }
}
.nav .nav_links .categories li, .nav .nav_links .site_nav li {
  display: inline-block;
  margin: 0 10px;
}
@media (max-width: 1200px) {
  .nav .nav_links {
    padding: 0;
  }
}
.nav .nav_links .line {
  background-color: black;
  width: 8px;
}
@media (max-width: 1200px) {
  .nav .nav_links .line {
    background-color: white;
  }
}

.marketplace_hero {
  height: 600px;
  background: linear-gradient(180deg, #000000 33.85%, rgba(0, 0, 0, 0) 91.15%);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Kotta One", serif;
}

/*# sourceMappingURL=style.css.map */
