@use "../variables";
@use "../mixins";

$header: 97px;

.footer{

	margin-top: 20px;

	height: calc(100vh - $header);

	a{

		@include mixins.aTagDefaults;
	}

	.top{

		display: flex;
		justify-content: center;

		color: white;
		background-color: variables.$primary;
		height: 40%;

		&:first-child{

			margin-top: 20px;
		}
	}

	.bottom{

		display: flex;
		justify-content: center;
		align-items: center;

		background-color: variables.$secondary;
		height: 60%;

		padding: 0 50px;

		.column{

			flex: 0 1 20%;

			display: flex;
			flex-direction: column;

			padding: 20px 30px;

			a{margin: 5px 0;}
		}
	}
}