@use "../variables";
@use "../mixins";

$header: 97px;

.footer{

	margin-top: 20px;

	height: calc(100vh - $header);

	a{

		@include mixins.aTagDefaults;
	}

	.top{

		background-color: variables.$primary;
		height: 40%;
	}

	.bottom{

		display: flex;
		justify-content: center;

		background-color: variables.$secondary;
		height: 60%;

		padding: 0 50px;

		.column{

			flex: 1 1 20%;

			padding: 30px 20px;
		}
	}
}