@use "../variables";

.home-product-hero{

	height: 80vh;
	background: linear-gradient(180deg, #000000 33.85%, rgba(0, 0, 0, 0) 91.15%);

	.hero-carousel{

		display: flex;
		justify-content: space-between;
		align-items: center;

		height: 200px;

		padding-top: 20px;

		.car-left,.car-right{
			
			color: variables.$aux1;
			font-size: 2em;
			cursor: pointer;
		}

		.carousel-inner{

			width: 100%;
			height: 100%;
			position: relative;
			overflow: hidden;

			margin: 0 20px;

			.car-item{

				width: 100%;
				height: 100%;

				position: absolute;
				transition: all 0.5s;

				display: flex;
				justify-content: space-around;
				align-items: center;

				.car-title{

					align-self: flex-start;
					margin-top: 30px;

					color: variables.$aux1;
				}
				.car-img{
		
					background-color: variables.$secondary;
					width: 800px;
					height: 100%;
				}
			}
			.item-1{z-index: 1;}
		}
	}

	.product-cards{

		display: flex;
		justify-content: space-evenly;

		margin-top: 20px;

		.product-hero-card,.service-card{

			flex: 0 1 22%;
			// max-width: 22%;
			aspect-ratio: 1 / 1;
			padding-top: 10px;

			background-color: variables.$aux1;

			h3{margin-left: 10px;}

			.product-image{

				width: 90%;
				aspect-ratio: 1 / 1;
				margin: 10px auto;

				background-color: variables.$secondary;
			}
		}

		.service-card{

			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;

			.service{

				background-color: variables.$secondary;
				padding: 35px;
			}
		}
	}

	a{

		color: variables.$primary;
		text-decoration: none;
	}
}