@use "../variables";
@use "../mixins";

.home-product-hero{

	// height: 80vh;
	
	background: linear-gradient(180deg, #000000 33.85%, rgba(0, 0, 0, 0) 90%);

	@media(max-width: variables.$large_breakpoint){padding:0;}

	a{@include mixins.aTagDefaults;}

	.hero-carousel{

		display: flex;
		justify-content: space-between;
		align-items: center;

		height: 200px;

		padding-top: 20px;

		.car-left,.car-right{
			
			color: variables.$aux1;
			font-size: 2em;
			cursor: pointer;

			margin: 0 10px;
		}

		.carousel-inner{

			width: 100%;
			height: 100%;
			position: relative;
			overflow: hidden;

			margin: 0 20px;

			.car-item{

				width: 100%;
				height: 100%;

				position: absolute;
				transition: all 0.5s;

				display: flex;
				justify-content: space-around;
				align-items: center;

				.car-title{

					align-self: flex-start;
					margin-top: 30px;

					color: variables.$aux1;

					@media(max-width: variables.$small_breakpoint){

						display: none;
					}
				}
				.car-img{
					
					background-color: variables.$secondary;
					width: 800px;
					height: 100%;
					
					@media(max-width: variables.$large_breakpoint){
	
						width: 600px;
						margin-left: 10px;
					}
				}
			}
			.item-1{z-index: 1;}
		}
	}

	.product-cards{

		display: flex;
		justify-content: space-evenly;

		@media(max-width: variables.$small_breakpoint){justify-content: flex-start;}

		overflow-x: scroll;
		scrollbar-width: none;

		&::-webkit-scrollbar{

			display: none;
		}

		margin-top: 20px;

		.product-hero-card,.service-card{

			flex: 0 1 22%;
			aspect-ratio: 1 / 1;
			padding-top: 10px;

			background-color: variables.$aux1;

			h3{margin-left: 10px;}

			.product-image{

				width: 90%;
				aspect-ratio: 1 / 1;
				margin: 10px auto;

				background-color: variables.$secondary;
			}

			@media(max-width: variables.$large_breakpoint){

				flex: 0 1 30%;
				font-size: .8em;
			}

			@media(max-width: variables.$small_breakpoint){

				flex: 1 0 100vw;
				width: 100vw;

				h3{margin-left: 40px;}
			}
		}

		.service-card{

			display: flex;
			flex-direction: column;
			justify-content: space-around;
			align-items: center;

			background-color: initial;

			.service{

				width: 80%;
				height: 40%;
				
				display: flex;
				justify-content: center;
				align-items: center;
				white-space: nowrap;

				background-color: variables.$secondary;

				.title{margin: 0 10px;}
			}

			@media(max-width: variables.$large_breakpoint){

				display: none;
			}
		}
	}
}