@use "../variables";

.nav{

	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	grid-template-rows: 70px 30px;

	grid-template-areas: 
		"title search account"
		"nav nav nav"
	;

	background-color: variables.$color2;
	color: variables.$color1;

	.title{

		grid-area: title;

		display: flex;
		align-items: center;

		padding-left: 10px;
		letter-spacing: 1px;

		a{

			color: variables.$color1;
			text-decoration: none;
		}
	}

	.search{

		grid-area: search;
		display: flex;
		justify-content: center;
		margin: 15px;

		form{
			
			display: flex;
			align-items: center;
			width: 100%;
			
			background-color: variables.$color1;
			color: variables.$color2;
			
			$border-radius: 1rem;
			border-radius: $border-radius;

			/*
				This is where we make the search components
			*/
			
			.search_dropdown{

				overflow: hidden;
				height: 100%;
				border: none;
				outline: none;
				padding-left: 5px;
				border-right: 2px solid black;
				border-top-left-radius: $border-radius;
				border-bottom-left-radius: $border-radius;
			}
			
			input{
				
				width: 100%;
				margin-left: 10px;
				font-size: x-large;
				background-color: variables.$color1;
				
				border: none;
				outline: none;
			}
			
			.search_go{

				display: flex;
				align-items: center;
				justify-content: center;

				background-color: variables.$color3;
				height: 100%;
				border: none;

				cursor: pointer;

				width: 40px;

				border-radius: $border-radius;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
	}

	.site_nav{

		display: flex;
		
	}

	.nav_links{

		grid-area: nav;

		display: flex;
		justify-content: space-between;

		padding: 0 20px;

		background-color: variables.$color3;
		color: variables.$color2;

		.categories, .site_nav{

			display: flex;
			align-items: center;
			flex: 1 0 40vw;

			a{

				padding-right: 15px;
				color: variables.$color2;
				text-decoration: none;
			}
			
			li{
	
				display: inline-block;
				margin: 0 10px;
			}
		}

		.line{

			background-color: variables.$color2;
			width: 8px;
		}
	}
}