@use "../variables";
@use "../mixins";

$width: 180px;

.nav{

	position: sticky;
	top: 0;
	z-index: 10;

	// Setup baseline grid for most desktops and laptops

	display: grid;
	grid-template-columns: 1fr 4fr 2fr;
	grid-template-rows: 61px 36px;

	grid-template-areas:
		"title search account"
		"cats cats cats"
	;

	// Main changes to grid at the large breakpoint

	@media(max-width: variables.$large_breakpoint){

		grid-template-columns: 1fr 1fr;
		grid-template-rows: 40px 50px 40px;

		grid-template-areas:
			"topl topr"
			"search search"
			"cats cats"
		;

		// padding: 5px 10px 0 10px;
	}

	background-color: variables.$primary;
	color: variables.$aux1;

	// *******************************
	// Title and Logo area

	.title{

		grid-area: title;

		display: flex;
		align-items: center;

		padding-left: 10px;
		letter-spacing: 1px;

		#cat_mobi_all{

			display: none;

			margin-right: 5px;
			// margin-left: 5px;
		}
		
		@media(max-width: variables.$large_breakpoint){

			grid-area: topl;
			// padding: 0;

			#main_title{

				font-size: 1.2em;
			}

			#cat_mobi_all{

				display: block;
			}
		}

		a{

			color: variables.$aux1;
			text-decoration: none;
		}
	}

	// end Title and Logo area
	// *******************************

	// *******************************
	// Search form in the navbar area

	.nav_search{

		grid-area: search;

		display: flex;
		justify-content: center;
		align-items: center;

		form{

			display: flex;
			align-items: center;
			width: 95%;
			height: 70%;

			@media(max-width: variables.$large_breakpoint){

				width: 100%;
			}
			
			background-color: variables.$aux1;
			color: variables.$primary;
			
			$border-radius: .5rem;
			border-radius: $border-radius;

			// This is where we make the search components
			
			.search_dropdown{

				overflow: hidden;
				height: 100%;
				border: none;
				outline: none;
				padding-left: 5px;
				border-right: 2px solid black;
				border-top-left-radius: $border-radius;
				border-bottom-left-radius: $border-radius;

				@media(max-width: variables.$small_breakpoint){

					display: none;
				}
			}
			
			input{
				
				width: 100%;
				margin-left: 10px;
				font-size: x-large;
				background-color: variables.$aux1;
				
				border: none;
				outline: none;
			}
			
			.search_go{

				display: flex;
				align-items: center;
				justify-content: center;

				background-color: variables.$secondary;
				height: 100%;
				border: none;

				cursor: pointer;

				width: 55px;

				border-radius: $border-radius;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}

		@media(max-width: variables.$large_breakpoint){

			padding: 0 10px;
		}
	}

	// end Search form in the navbar area
	// *******************************

	// *******************************
	// Account navigation, account, orders, cart

	.account_nav{

		grid-area: account;

		display: flex;
		align-items: center;
		justify-content: space-around;

		margin-right: 20px;

		a{

			display: flex;
			color: variables.$aux1;
			text-decoration: none;
			white-space: nowrap;
		}

		// a:hover{

		// 	text-decoration: underline;
		// }

		#orders_icon{

			display: none;
		}

		#signin_icon{

			display: none;
		}

		@media(max-width: variables.$large_breakpoint){

			grid-area: topr;

			#signin_words, #orders_words, #cart_word{

				display: none;
			}
			
			#orders_icon, #signin_icon{
				
				display: block;
			}
		}
	}

	// end Account navigation 
	// *******************************

	// *******************************
	// categories navigation

	.categories{

		grid-area: cats;

		background-color: variables.$secondary;
		color: variables.$primary;

		display: flex;
		align-items: center;
		width: 100%;
		
		a{
			
			white-space: nowrap;
			margin-right: 20px;
			@include mixins.aTagDefaults;

			&:first-of-type{

				margin-left: 20px;
			}

			@media(max-width: variables.$large_breakpoint){

				&:nth-child(2){

					margin-left: 10px;
				}
			}
		}

		overflow-x: scroll;
		scrollbar-width: none;

		&::-webkit-scrollbar{

			display: none;
		}

		@media(max-width: variables.$large_breakpoint){

			// background-color: variables.$primary;
			// color: variables.$aux1;

			a{
				
				// color: variables.$aux1;
			}
			
			#cat_bar_all{
	
				display: none;
			}
		}
	}

	// end categories navigation
	// *******************************
}

// *******************************
// all-categories overlay

.all-categories{

	display: flex;
	flex-direction: column;

	position: absolute;
	z-index: 20;
	top: 0;
	bottom: 0;
	left: -$width;
	width: $width;
	transition: .1s;

	overflow-y: scroll;

	padding: 100px 0;

	background-color: variables.$secondary;

	a{

		margin: 5px 40px;
		@include mixins.aTagDefaults;

		&:first-of-type{

			position: absolute;

			right: 0;
			top: 0;

			margin: 30px 20px;
		}
	}

}

.cats-overlay{

	position: absolute;
	z-index: 10;
	top: 0;
	bottom: 0;
	left: -100%;
	width: 100%;
	transition: .1s;

	background-color: variables.$aux2;
}

// end all-categories overlay
// *******************************