@use "../variables";

.nav{

	/*
		Setup baseline grid for most desktops and laptops
	*/

	display: grid;
	grid-template-columns: 1fr 4fr 2fr;
	grid-template-rows: 61px 36px;

	grid-template-areas: 
		"title search account"
		"nav nav nav"
	;

	/*
		First changes to grid at the large breakpoint
	*/

	@media(max-width: variables.$large_breakpoint){

		grid-template-columns: 1fr 1fr;
		grid-template-rows: 40px 50px 40px;

		grid-template-areas:
			"topl topr"
			"search search"
			"cats cats"
		;

		padding: 10px;
	}

	background-color: variables.$color2;
	color: variables.$color1;

	/*
		Title and Logo area
	*/

	.title{

		grid-area: title;

		display: flex;
		align-items: center;

		padding-left: 10px;
		letter-spacing: 1px;
		
		@media(max-width: variables.$large_breakpoint){

			grid-area: topl;
			padding: 0;
		}

		a{

			color: variables.$color1;
			text-decoration: none;
		}
	}

	/*
		Search form in the navbar area
	*/

	.nav_search{

		grid-area: search;

		display: flex;
		justify-content: center;
		align-items: center;

		form{

			display: flex;
			align-items: center;
			width: 95%;
			height: 70%;

			@media(max-width: variables.$large_breakpoint){

				width: 100%;
			}
			
			background-color: variables.$color1;
			color: variables.$color2;
			
			$border-radius: .5rem;
			border-radius: $border-radius;

			/*
				This is where we make the search components
			*/
			
			.search_dropdown{

				overflow: hidden;
				height: 100%;
				border: none;
				outline: none;
				padding-left: 5px;
				border-right: 2px solid black;
				border-top-left-radius: $border-radius;
				border-bottom-left-radius: $border-radius;
			}
			
			input{
				
				width: 100%;
				margin-left: 10px;
				font-size: x-large;
				background-color: variables.$color1;
				
				border: none;
				outline: none;
			}
			
			.search_go{

				display: flex;
				align-items: center;
				justify-content: center;

				background-color: variables.$color3;
				height: 100%;
				border: none;

				cursor: pointer;

				width: 55px;

				border-radius: $border-radius;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
	}

	.account_nav{

		grid-area: account;

		@media(max-width: variables.$large_breakpoint){

			grid-area: topr;
		}

		display: flex;
		align-items: center;
		justify-content: space-around;

		margin-right: 20px;

		&>a{

			display: flex;
			color: variables.$color1;
			text-decoration: none;
		}

		&>*{

			margin: 10px;
		}
	}

	.nav_links{

		grid-area: nav;

		@media(max-width: variables.$large_breakpoint){

			grid-area: cats;
		}

		display: flex;
		justify-content: space-between;

		padding: 0 20px;

		background-color: variables.$color3;
		color: variables.$color2;

		.categories{

			overflow: hidden;

			position: relative;

			.menu-slider{

				display: flex;
				align-items: center;
				
				pointer-events: none;
				position: absolute;
				left: 0;
			}

			a:first-of-type{

				margin-right: 30px;
			}
		}
		
		.categories, .site_nav{

			display: flex;
			align-items: center;
			flex: 1 0 40vw;
			
			a{
				
				white-space: nowrap;
				margin-right: 20px;
				color: variables.$color2;
				text-decoration: none;
			}
			
			@media(max-width: variables.$large_breakpoint){
	
				background-color: variables.$color2;
				color: variables.$color1;

				a{

					color: variables.$color1;
				}
			}

			li{
	
				display: inline-block;
				margin: 0 10px;
			}
		}

		@media(max-width: variables.$large_breakpoint){

			padding: 0;	
		}

		.line{

			background-color: variables.$color2;
			width: 8px;

			@media(max-width: variables.$large_breakpoint){

				background-color: variables.$color1;	
			}
		}
	}
}