@use "../variables";
@use "../mixins";

.single-product-grid{

	display: grid;

	margin: 50px;

	grid-template-columns: 35vw 1fr;

	grid-template-rows: 60px 80px auto;

	column-gap: 80px;

	grid-template-areas:
		"left-column title"
		"left-column cart"
		"left-column description"
	;


	// overflow: hidden;
	.left-column{
	
		grid-area: left-column;
		
		.preview-wrapper{
			
			position: sticky;
			top: -200px;

			.preview-1, .preview-2{
	
				aspect-ratio: 4 / 3;
				background-color: #d9d9d9;
			}
	
			.thumbnails{
	
				height: 100px;
				background-color: #555;
			}
	
			.preview-2{
	
				opacity: 0;
			}
		}

	}
	
	.title{
	
		grid-area: title;
	}
	
	.cart{
	
		grid-area: cart;
		
		display: flex;

		position: sticky;
		top: calc(variables.$nav_total);
		padding-top: 10px;

		background-color: white;
		box-shadow: 0 15px 15px -15px #000;

		.cart-inner{

			display: flex;
			height: 50px;

			form{

				display: flex;
				height: 50px;
			}

			.quantity{
	
				display: flex;
				align-items: center;
				justify-content: space-around;
	
				aspect-ratio: 3 / 1;
	
				color: variables.$aux1;
				font-weight: bolder;
				font-size: 1.8rem;
				text-align: center;
				background-color: variables.$aux2fix;
				border-radius: 5px;
	
				*{flex-basis: 33%;}

				.fas:hover{

					cursor: pointer;
				}
	
				#qty-count{
	
					height: 60%;
					width: 33%;
					font-size: 1.8rem;
					text-align: center;
					outline: none;
				}
			}
	
			.add-to-cart{
	
				display: flex;
				align-items: center;
	
				margin-left: 15px;
				padding-left: 10px;
				padding-right: 10px;
	
				background-color: black;
				color: white;
				font-weight: bolder;
				font-size: 1.4em;
				border-radius: 5px;
				cursor: pointer;
				
				.fa-cart-plus{
					
					margin-left: 10px;
					font-size: 30px;
				}
			}
	
			.ratings{
	
				display: flex;
				align-items: center;
	
				margin-left: 10px;
	
				.star-rating{
	
					$stars: 102.812px;

					color: gold;
	
					width: calc($stars * .9);
					overflow: hidden;
					white-space: nowrap;
	
					margin-right: 10px;
				}
	
				h5{color: black;}
			}
		}
	}
	
	.description{
	
		grid-area: description;

		width: 70%;
		margin-top: 35px;

		font-size: 1.2rem;
	}
}

.bread-crumbs{

	background-color: #555;
	height: 35px;
	width: 100vw;
}