@use "../variables";
@use "../mixins";

.single-product-grid{

	display: grid;

	height: 100vh;
	margin: 50px;

	// border: dashed 5px;

	// background-color: gray;

	grid-template-columns: 35vw 1fr;

	grid-template-rows: 100px 100px auto;

	column-gap: 80px;

	grid-template-areas:
		"left-column title"
		"left-column cart"
		"left-column description"
	;
	
	.title{
	
		grid-area: title;
	}
	
	.cart{
	
		grid-area: cart;

		position: sticky;
		top: variables.$nav_total;

		.quantity{

			display: flex;
			align-items: center;
			justify-content: space-around;

			height: 40px;
			aspect-ratio: 3 / 1;

			color: variables.$aux1;
			font-weight: bolder;
			font-size: 1.5rem;
			text-align: center;
			background-color: variables.$aux2fix;

			border-radius: 5px;

			*{flex-basis: 33%;}

			#quantity-count{

				display: flex;
				justify-content: center;
				align-items: center;

				height: 80%;

				color: black;
				background-color: white;
			}
		}
	}
	
	.description{
	
		grid-area: description;
		// border: dashed 5px;
	}
	
	.left-column{
	
		grid-area: left-column;
		// border: dashed 5px;

		display: flex;
		flex-direction: column;

		.preview-1{

			width: 100%;
			aspect-ratio: 4 / 3;
			background-color: #d9d9d9;
		}
	}
}

.bread-crumbs{

	background-color: #555;
	height: 35px;
	width: 100vw;
}